---
layout: default
resume:
- template: resume
  skills_category:
  - skill:
      heading: Skills
      rating:
      - name: Programming-C/C++/Python
        numbering: 90%
      - name: Networking Fundamentals
        numbering: 70%
      - name: Web Development-HTML/CSS/PHP
        numbering: 70%
      - name: Microsoft Office
        numbering: 70%
      - name: Security and Pen-Testing
        numbering: 60%
  - skill:
      heading: Languages
      rating:
      - name: English
        numbering: 70%
      - name: Hindi
        numbering: 80%
  image: "/images/mypic.jpg"
  user_name: Krishna Kumar Parasrampuria
  user_details:
    designation: Programmer
    location: Jaipur, India
    email: krishna.agarwal961@gmail.com
    contact: '9643421887'
  work_exp:
    experience:
    - organisation: Intern at Forsk Technologies.
      description: Worked as student intern at Forsk Techonologies in Python.
      start: '2018-11-19 18:30:00 +0000'
      end: ''
  education:
    programms:
    - college_name: Poornima University
      passing_year: '2020'
      course: Bechlor Degree
    - college_name: Vidya Mandir Public School
      passing_year: '2016'
      course: Senior Secondary-CBSE
    - college_name: Dundlod Vidyapeeth
      passing_year: '2014'
      course: Secondary Education-CBSE

---
<style >html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

<body class="w3-light-grey">
	
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  {% for i in page.resume %}
  <div class="w3-row-padding">
  <div class="block sm:flex">
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src={{ i.image }} style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black text-3xl">
            <h2>{{ i.user_name }}</h2>
          </div>
        </div><br>
        <div class="w3-container">

          {% for det in i.user_details %}
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal pb-5"></i>{{ det[1] }}</p>
          <!--<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal pb-5"></i>Jaipur, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal pb-5"></i>krishna.agarwal961@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal pb-5"></i>9643421887</p>-->
          {% endfor %}
          <hr class="mt-5 mb-3">
           

            {% for j in i.skills_category %}
                   <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal pb-5"></i>{{ j.skill.heading }}</b></p>
                   {% for rat in j.skill.rating %}

                    <p class="pb-4">{{ rat.name }}</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                      <div class="w3-container w3-center w3-round-xlarge w3-teal" style="height:24px;width:{{ rat.numbering }}">{{ rat.numbering }}</div>
                    </div>
                    {% endfor %}
          <br>
          <hr class="mb-3">
            {% endfor %}
			
            {% endfor %}
<!--
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal pt-5 pb-6"></i>Skills</b></p>
          <p class="pb-4">Programming-C/C++/Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small ">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p class="pb-4">Networking Fundamentals</p>
          <div class="w3-light-grey w3-round-xlarge w3-small ">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p class="pb-4">Web Development-HTML/CSS/PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p class="pb-4">Microsoft Office</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p class="pb-4">Security and Pen-Testing</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal pb-5"></i>Languages</b></p>
          <p class="pb-4">English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
          </div>
          <p class="pb-4">Hindi</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
          </div>-->
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird sm:ml-5 mb-5">
    {% for j in i.work_exp %}
      <pre>{{ i.work_exp }}</pre>
      {% endfor %}
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16 text-3xl"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity pb-2"><b>Intern at Forsk Technologies.</b></h5>
          <h6 class="w3-text-teal pb-2"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Worked as student intern at Forsk Techonologies in Python.</p>
        </div><br>
        
      </div>

      <div class="w3-container w3-card w3-white ">
        <h2 class="w3-text-grey w3-padding-16 text-3xl"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal "></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity pb-1"><b>Poornima University</b></h5>
          <h6 class="w3-text-teal pb-1"><i class="fa fa-calendar fa-fw w3-margin-right"></i>07/2016-Present</h6>
          <p class="pb-2">Bechlor Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity pt-2 pb-1"><b>Vidya Mandir Public School</b></h5>
          <h6 class="w3-text-teal pb-1"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016</h6>
          <p class="pb-2">Senior Secondary-CBSE</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity pt-2 pb-1"><b>Dundlod Vidyapeeth</b></h5>
          <h6 class="w3-text-teal pb-1"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014</h6>
          <p class="pb-2">Secondary Education-CBSE</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
  </div>
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>